* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Open-Sans", "Arial";
}

nav {
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: #21262D;
}

nav>ul>li {
    display: inline-block;
    display: flex;
    font-size: 1.5rem;
}

li a {
    color: #bdc0c5;
    text-decoration: none;
    outline: none;
    list-style: none;
    padding: 10px;
}
