* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", "Open-Sans", "Arial";
    background-image: url("../img/Hollowed-Boxes.svg");
    scrollbar-face-color: #23272A;
    scrollbar-track-color : #23272A;
    scrollbar-arrow-color : #0D1117;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    width: 99vw;
    height: 35vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;   
}

nav {
    order: -1;
    width: 8.5vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23272A;
    transition-property: color;
}

nav>ul>li {
    display: flex;
    font-size: 1.1rem;
}

li a {
    color: #C9D1CE;
    border-bottom: #0D1117;
    letter-spacing: 0.13rem;
    text-decoration: none;
    outline: none;
    list-style: none;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li:nth-of-type(2) {
    justify-content: center;
    align-items: center;
}
.fa-camera {
    font-size: 1rem;
}

ul:nth-child(1) {
    padding: 0;
}

li a:hover {
    font-weight: 700;
    fill: #FFFFFF;
}

.svg {
    height: 7vh;
    width: 3.5vw;
    margin-left: 0.6vw;
}

.en_tete>h1 {
    color: #F0F6FC;
    letter-spacing: 0.3rem;
    font-weight: 700;
    border-bottom: #FFFFFF;
}

.en_tete>h2 {
    color :#F0F6FC;

}

.en_tete {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 100vh;
    z-index: 3;
    background-color: #0D1117;
}

footer {
    color: #F0F6FC;
}5619685869154