* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", "Open-Sans", "Arial";
    background-image: url("../img/Hollowed-Boxes.svg");
    font-size: 1rem;
}

main {
    display: flex;
}

header {
    width: 100vw;
    height: 40vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;   
    justify-content: center;
    align-items: center;
}

nav {
    order: -1;
    width: 8.5vw;
    height: 40vh;
    display: flex;
    align-items: center;
    background-color: #23272A;
    transition-property: color;
}

nav:hover {
    background-color: #23272A;
}

nav>ul>li {
    display: flex;
    font-size: 1.1rem;
}

li a {
    color: #C9D1CE;
    border-bottom: #0D1117;
    letter-spacing: 0.13rem;
    text-decoration: none;
    outline: none;
    list-style: none;
    margin-left: 1vw;
    padding: 10px;
}

li a:hover {
    font-weight: 700;
    color: #FFFFFF;
}

header>h1 {
    color: #F0F6FC;
    letter-spacing: 0.3rem;
    font-weight: 700;
    border-bottom: #FFFFFF;
}

header>h2 {
    color :#F0F6FC;

}

footer {
    color: #F0F6FC;
}